<html>
<head><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">The best blog ever!</h1>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">

{% for post in posts %}
<div class="col-md-4">
            <h2>{{ post.title }}</h2>
<p>published: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
{% endfor %}

        </div>

        <hr>

      </div> <!-- /container -->

    </main>

  

</body>
</html>

